# Logs
**/logs
*.log

# VSCode Editor Ignore
.vscode/*

# Goland Editor Ignore
.idea/*

# Binary Ignore
/bin/*

# Vendor Path
/vendor

# ENV
.env

# Environment, please use main.development.example.ini to create the new one
/files/etc/configure/*.development.ini

